.cards {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  min-width: 160px;
  max-width: 180px;
  aspect-ratio: 2 / 3;
  transition: transform 0.3s ease;
  border: 1px solid rgb(99, 99, 99);
  flex-shrink: 0;
}

.cards__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cards__overlay {
  position: absolute;
  bottom: 0;
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cards__overlay:hover {
  opacity: 1;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card__runtime {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: 0.75rem;
  max-height: 3.5rem;
  overflow: hidden;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .cards:hover {
    transform: none;
    box-shadow: none;
  }

  .cards__overlay {
    opacity: 1;
  }

  .card__title {
    font-size: 0.9rem;
  }

  .card__description {
    font-size: 0.7rem;
  }
}
